 /* 公共样式 start */
 /*点击高亮我们需要清除清除  设置为transparent 完成透明*/
 
 a {
     -webkit-tap-highlight-color: transparent;
 }
 /*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
 
 input {
     -webkit-appearance: none;
 }
 /*禁用长按页面时的弹出菜单*/
 
 img,
 a {
     -webkit-touch-callout: none;
 }
 
 * {
     margin: 0;
     padding: 0;
 }
 
 body {
     font-size: 14px;
     background-color: #f6f6f6;
 }
 /* 清除浮动 */
 
 .clearfix::after {
     content: '';
     height: 0;
     line-height: 0;
     display: block;
     visibility: hidden;
     clear: both;
 }
 
 .clearfix {
     *zoom: 1;
 }
 
 .fl {
     float: left;
 }
 
 .fr {
     float: right;
 }
 /* 公共样式 end  */
 
 .search {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 45px;
     margin: 0 auto;
     max-width: 960px;
     min-width: 320px;
     background-color: #c82519;
     overflow: hidden;
     z-index: 100;
 }
 
 .search .search-btn {
     position: absolute;
     left: 0;
     top: 0;
     width: 40px;
     height: 44px;
 }
 
 .search .search-btn::before {
     position: absolute;
     left: 15px;
     top: 50%;
     transform: translateY(-50%);
     content: "";
     width: 20px;
     height: 18px;
     background: url(../images/s-btn.png) no-repeat;
     background-size: 20px 18px;
 }
 
 .search-box {
     position: relative;
     /* width: 100%; */
     height: 30px;
     margin: 7px 50px 7px;
     background-color: #fff;
     border-radius: 25px;
 }
 
 .search-jd {
     position: absolute;
     left: 15px;
     top: 50%;
     transform: translateY(-50%);
     width: 20px;
     height: 15px;
     background: url(../images/jd.png) no-repeat;
     background-size: 20px 15px;
 }
 
 .search-jd::after {
     position: absolute;
     left: 25px;
     top: 50%;
     transform: translateY(-50%);
     content: "";
     width: 1px;
     height: 15px;
     background-color: #ddd;
 }
 
 .search-inp {
     position: absolute;
     left: 48px;
     top: 50%;
     transform: translateY(-50%);
     width: 18px;
     height: 15px;
     background: url(../images/jd-sprites.png) no-repeat;
     background-position: -82px 0;
     background-size: 200px;
 }
 
 .search-login {
     position: absolute;
     right: 0;
     top: 0;
     width: 40px;
     height: 44px;
     line-height: 44px;
     /* text-align: center; */
     font-size: 16px;
     background-color: #c82519;
     color: #fff;
 }
 /* search   :end */
 /* content start */
 
 .content-wrap {
     position: relative;
     width: 100%;
     max-width: 960px;
     min-width: 320px;
     /* height: 500px; */
     margin: 45px auto 0;
     /* background-color: pink; */
 }
 
 .slider-bg {
     width: 150%;
     height: 120px;
     margin-left: -25%;
     background-image: linear-gradient(0deg, #f1503b, #c82519 50%);
     border-bottom-left-radius: 100%;
     border-bottom-right-radius: 100%;
 }
 
 .slide-list {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 154px;
     padding: 0 15px;
     box-sizing: border-box;
     /* overflow: hidden; */
     /* border-radius: 15px; */
 }
 
 .slide-list img {
     width: 100%;
     height: 100%;
     border-radius: 15px;
 }
 /* content  :end */
 /* floor :start */
 
 .floor-box {
     width: 100%;
     max-width: 960px;
     min-width: 320px;
     margin: 34px auto 0;
 }
 
 .floor-box a {
     float: left;
     width: 20%;
     margin-bottom: 10px;
     text-align: center;
     text-decoration: none;
     color: #111;
     font-size: 13px;
 }
 
 .floor-box a img {
     width: 40px;
     height: 40px;
     margin: 5px 0;
 }
 
 .floor-box a span {
     display: block;
 }
 
 .floor-outer {
     width: 100%;
     max-width: 960px;
     min-width: 320px;
     margin: 0 auto;
 }
 
 .floor-outer img {
     display: inline-block;
     width: 33.33%;
     float: left;
 }
 
 .floor-order {
     width: 100%;
     max-width: 960px;
     min-width: 320px;
     margin: 5px auto 0;
 }
 
 .floor-title {
     /* height: 35px; */
 }
 
 .floor-title img {
     width: 100%;
     max-height: 100%;
 }
 
 .floor-list {
     width: 100%;
     height: 266px;
     padding: 0 10px 10px 10px;
     box-sizing: border-box;
     background-color: #fff;
 }
 
 .floor-list .up {
     height: 50%;
     border-bottom: 1px solid #ccc;
 }
 
 .floor-list .up .up-l {
     float: left;
     width: 50%;
     height: 100%;
     border-right: 1px solid #ccc;
     box-sizing: border-box;
 }
 
 .up-l .til,
 .up-r .til {
     width: 100%;
     margin-left: 10px;
     height: 42px;
 }
 
 .up-l .til h3,
 .up-r .til h3 {
     color: skyblue;
 }
 
 .up-l .bot,
 .up-r .bot {
     height: 71px;
     margin-left: 10px;
 }
 
 .up-l .bot img,
 .up-r .bot img {
     width: 66px;
     height: 66px;
     margin-left: 15px;
 }
 
 .up-l .til p,
 .up-r .til p {
     font-size: 13px;
 }
 
 .floor-list .up .up-r {
     float: left;
     width: 50%;
     height: 100%;
 }
 
 .floor-list .down {
     height: 50%;
 }
 
 .down div {
     float: left;
     width: 25%;
     height: 100%;
     box-sizing: border-box;
 }
 
 .down>div:nth-child(-n+3) {
     border-right: 1px solid #ccc;
 }
 
 .down .mask {
     width: 100%;
     height: 42px;
     margin-top: 10px;
 }
 
 .mask h3 {
     padding-left: 10px;
     margin-bottom: 5px;
 }
 
 .mask p {
     padding-left: 10px;
     font-size: 13px;
     color: #666771;
 }
 
 .down img {
     width: 66px;
     height: 66px;
     margin-left: 15px;
 }
 /* floor end  */